<h1>
  <% if current_user.id == @user.id %>
    My profile
  <% else %>
    <%= "#{@user.email}'s profile" %>
  <% end %>
</h1>

<div id="friend-buttons" class="<%= which_friend_btn(@user) %>">
      <%= button_to "Friends", user_path(@user), :form_class => "friends-btn" %>
      <%= button_to "Friend requested", user_path(@user), :form_class => "friend-requested-btn" %>
      <%= button_to "Friend pending", user_path(@user), :form_class => "friend-pending-btn" %>
      <%= button_to "Add Friend", user_friends_path(@user), :remote => true, 
            :form_class => "add-friend-btn" %>
</div>

Doodles:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @images, :as => :image %>
</div>

Contributed to:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @contributed_images, :as => :image %>
</div>

Favorited Doodles:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @favorited_images, :as => :image %>
</div>


<script type="text/javascript">
  $(function () {
    $('.add-friend-btn').on('ajax:success', function () {
      console.log("yay");
      $('#friend-buttons').removeClass();
      $('#friend-buttons').addClass("requested");
      // $('.add-friend-btn, .friend-requested-btn').toggle();
    });


  });
</script>
