<h1>
  <% if current_user.id == @user.id %>
    My profile
  <% else %>
    <%= "#{@user.email}'s profile" %>
  <% end %>
</h1>

<div id="friend-buttons" class="<%= which_friend_btn(@user) %>">
      <div class="friends-btn">You're friends!</div>
      <div class="friend-requested-btn">Friend requested</div>
      <%= button_to "Friend pending", user_path(current_user), :method => "get", 
            :form_class => "friend-pending-btn" %>
      <%= button_to "Be friends!", user_friends_path(@user), :remote => true, 
            :form_class => "add-friend-btn" %>
</div>

<% if current_user.id == @user.id && current_user.pending_friendships.length > 0 %>
  <div id="pending-friends">
    Pending friend requests:
    <ul id="pending-friends-list">
      <%= render :partial => 'friends/pending_friends.html.erb',
                 :collection => current_user.pending_friendships, 
                 :as => :pending_friendship %>
    </ul>
  </div>
<% end %>


<% if @user.friend_ships.length > 0 %>
  <div id="friends">
    Friends:
    <ul id="friends-list">
      <%= render :partial => 'friends/friends.html.erb',
                 :collection => @user.friend_ships,
                 :as => :friend_ship %>
    </ul>
  </div>
<% end %>

Doodles:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @images, :as => :image %>
</div>

Contributed to:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @contributed_images, :as => :image %>
</div>

Favorited Doodles:
<div class="image-thumbnails-list">
  <%= render :partial => 'images/images_display.html.erb', 
             :collection => @favorited_images, :as => :image %>
</div>


<script type="text/javascript">
  $(function () {
    $('.add-friend-btn').on('ajax:success', function () {
      console.log("yay");
      $('#friend-buttons').removeClass();
      $('#friend-buttons').addClass("requested");
    });
  });
</script>
