
<div id="show-image-container">
  <img src=<%= "#{@image.img}" %>>

  <!-- favorite -->
  <%= button_to "", image_favorite_path(@image), :remote => true, :id => "fav", 
        :hidden => @favorited %>

  <!-- unfavorite -->
  <%= button_to "", image_favorite_path(@image), :method => :delete, 
        :remote => true, :id => "unfav", :hidden => (not @favorited) %>


  <% if @image.user_id == current_user.id %>
    <%= link_to image_tag("recycle_icon.png", :height => 25, :width => 25, 
            :class => "delete-icon"), image_path(@image), :method => :delete %>
    <div class="contribute-container">
      <% if @contributed_users.length > 0 %>
        <div class="contributor-names">
          contributors: <%= render :partial => 'contributors_list.html.erb', 
            :collection => @contributed_users, :as => :user %>
        </div>
      <% end %>
    </div>
    <%= link_to "Edit this doodle", edit_image_path(@image) %>
  <% else %>
    <div class="contribute-container">
      <div class="artist-names">
        by <%= link_to @image.user.email, user_path(@image.user) %>
      </div>
      <% if @contributed_users.length > 0 %>
        <div class="contributor-names">
          contributors: <%= render :partial => 'contributors_list.html.erb', 
              :collection => @contributed_users, :as => :user %>
        </div>
      <% end %>
      <%= link_to "Contribute to this doodle", edit_image_path(@image) %>
      <div id="add-comment">
        <%= link_to "Add a comment", new_comment_path(:image_id => @image.id) %>
      </div>
    </div>
  <% end %>
</div>

<div class="comments-container">
  <%= render :partial => 'comments/display_comments.html.erb', :collection => @image.comments, :as => :comment %>
</div>


<script type="text/javascript">
  $(function () {
    $('.button_to').on('ajax:success', function () {
      console.log("yay");
      $('#fav, #unfav').toggle();
    });
  });
</script>


