<ul id="nav-bar-ul">
  <li><%= link_to "HOME", root_path %></li>

  <li><%= link_to "NEW DOODLE", new_image_path %></li>

  <% if user_signed_in? %>
    <li><%= link_to "USERS", users_path %></li>
    <li><%= link_to "MY PROFILE", user_path(current_user) %></li>
    <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "SIGN IN", new_user_session_path %></li>
  <% end %>
</ul>
